<!-- include/_header.ejs -->
<%-include('include/_header.ejs')%>
    <!-- /include/_header.ejs -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <div class="filter">
                    <a href="/add-user" class="border-shadow">
                        <span class="text-gradient">
                        New User
                    </span>
                    </a>
                </div>
            </div>

            <!-- include/_header.ejs -->
            <%-include('include/_form.ejs')%>
                <!-- /include/_header.ejs -->
        </div>
    </main>

    <!-- include/_header.ejs -->
    <%-include('include/_footer.ejs')%>
        <!-- /include/_header.ejs -->