<tbody>
    <tr>
        <td>1</td>
        <td>ALI</td>
        <td>ali@nawazgmail.com</td>
        <td>Male</td>
        <td>T</td>
        <td>
            <a href="/update-user" class="btn border-shadow update">Edit</a>
            <a href="#" class="btn border-shadow detele">Delete</a>
        </td>
    </tr>
</tbody>